<ul class="user-list">
	{{#each users as | user |}}
		<li style="--spinner-inner-colour: var(--user-color-{{user.id}})">
			<div class="grow">
				{{ user.name }}
			</div>
			{{#if user.answers}}
				<div class="chip-list">
					{{#each user.answers as | answer |}}
						<span class="chip">
							{{ @key }}
							<span class="value">
								{{ answer }}
							</span>
						</span>
					{{/each}}
				</div>
			{{else if user.active}}
				<span class="loader"></span>
			{{else}}
				<taf-icon
					data-tooltip="taf.Apps.QueryStatus.user-disconnected-tooltip"
					name="icons/disconnected"
					var:size="40px"
					var:stroke="currentColor"
					var:fill="currentColor"
				></taf-icon>
			{{/if}}
		</li>
	{{/each}}
</ul>
