<li
	class="attribute"
	data-item-uuid="{{uuid}}"
>
	<taf-icon
		class="draggable"
		name="icons/drag-handle"
		var:fill="currentColor"
		data-item-id="{{id}}"
	></taf-icon>
	<div class="title grow">
		<span class="name">{{ name }}</span>
	</div>
	{{#if system.trigger}}
		<button
			type="button"
			data-action="executeTrigger"
		>
			{{ localize "taf.misc.roll" }}
		</button>
	{{/if}}
	<input
		type="number"
		id="{{uuid}}-value"
		data-foreign-uuid="{{uuid}}"
		data-foreign-name="system.value"
		value="{{ system.value }}"
		min="{{ system.inferredMinimum }}"
		max="{{ system.max }}"
	>
	{{#if system.showMax}}
		<span aria-hidden="true">/</span>
		<input
			type="number"
			id="{{uuid}}-max"
			data-foreign-uuid="{{uuid}}"
			data-foreign-name="system.max"
			value="{{ system.max }}"
		>
	{{/if}}
</li>
