<li
	class="attribute"
	data-item-uuid="{{uuid}}"
>
	<div class="title grow">
		<span class="name">{{ name }}</span>
	</div>
	{{#if system.trigger}}
		<button
			type="button"
			data-action="executeTrigger"
		>
			Roll
		</button>
	{{/if}}
	<input
		type="number"
		id="{{uuid}}-value"
		data-foreign-uuid="{{uuid}}"
		data-foreign-name="system.value"
		value="{{ system.value }}"
		min="{{ system.inferredMinimum }}"
		max="{{ system.max }}"
	>
</li>
