<div class="settings">
	<p>
		Changes to these settings will only take effect after a reload of Foundry.
	</p>
	<fieldset>
		<legend>Sizing</legend>
		<label for="{{ meta.idp }}-width">Width</label>
		<input
			type="number"
			id="{{ meta.idp }}-width"
			value="{{ width }}"
			name="flags.taf.PlayerSheet.size.width"
		>
		<label for="{{ meta.idp }}-height">Height</label>
		<input
			type="number"
			id="{{ meta.idp }}-height"
			value="{{ height }}"
			name="flags.taf.PlayerSheet.size.height"
		>
		<label for="{{ meta.idp }}-resizable">Resizable?</label>
		<select
			id="{{ meta.idp }}-resizable"
			name="flags.taf.PlayerSheet.size.resizable"
		>
			{{ taf-options resizable resizeOptions }}
		</select>
	</fieldset>
</div>
