<div class="value-controls">
	<label for="{{meta.idp}}-min">
		Minimum
	</label>
	<input
		type="number"
		id="{{meta.idp}}-min"
		name="system.min"
		value="{{system.min}}"
		{{#if system.isRange}}placeholder="0"{{/if}}
		{{disabled (not meta.editable)}}
	>

	<label for="{{meta.idp}}-value">
		Current Value
	</label>
	<input
		type="number"
		id="{{meta.idp}}-value"
		name="system.value"
		value="{{system.value}}"
		min="{{system.min}}"
		max="{{system.max}}"
		{{disabled (not meta.editable)}}
	>

	<label for="{{meta.idp}}-max">
		Maximum
	</label>
	<input
		type="number"
		id="{{meta.idp}}-max"
		name="system.max"
		value="{{system.max}}"
		{{disabled (not meta.editable)}}
	>
</div>
