<div class="attributes">
	{{#each attrs as |attr|}}
		<div
			class="attribute"
			data-attribute="{{ attr.id }}"
		>
			<taf-icon
				name="icons/drag-handle"
				var:stroke="currentColor"
				var:fill="currentColor"
				class="draggable"
			></taf-icon>
			{{#if attr.isNew}}
				<input
					type="text"
					data-bind="{{ attr.id }}.name"
					value="{{ attr.name }}"
					placeholder="{{localize "taf.Apps.AttributeManager.name-placeholder"}}"
				>
			{{else}}
				<span>{{ attr.name }}</span>
			{{/if}}
			<label>
				{{localize "taf.Apps.AttributeManager.has-max"}}
				<input
					type="checkbox"
					data-bind="{{ attr.id }}.isRange"
					{{ checked attr.isRange }}
				>
			</label>
			<button
				type="button"
				data-action="removeAttribute"
			>
				{{localize "taf.misc.delete"}}
			</button>
		</div>
	{{else}}
		<p>
			{{localize "taf.Apps.AttributeManager.no-attributes"}}
		</p>
	{{/each}}
</div>
